@model OgrenciCreateDto


    <form method="post" asp-action="Create" asp-controller="Ogrenci">



        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Ogrenci Kayit</h3>
            </div>

            @Html.ValidationSummary()
        <div class="card-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                <label asp-for="@Model.OgrenciDto.Adi" class="col-md-4 col-form-label"></label>
                <input type="text" class="form-control" placeholder="Adi" asp-for="@Model.OgrenciDto.Adi">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                <label asp-for="@Model.OgrenciDto.Soyadi" class="col-md-4 col-form-label"></label>
                <input type="text" class="form-control" placeholder="Soyadi" asp-for="@Model.OgrenciDto.Soyadi">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                <label asp-for="@Model.OgrenciDto.TcNo" class="col-md-4 col-form-label"></label>
                <input type="text" class="form-control" placeholder="TcKimlik" asp-for="@Model.OgrenciDto.TcNo">
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <label asp-for="@Model.OgrenciDto.EPosta" class="col-md-4 col-form-label"></label>
                <input type="email" class="form-control" placeholder="EPosta" asp-for="@Model.OgrenciDto.EPosta">
            </div>


            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <label asp-for="@Model.OgrenciDto.DogumTarih" class="col-md-4 col-form-label"></label>
                <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" asp-for="@Model.OgrenciDto.DogumTarih">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <label asp-for="@Model.OgrenciDto.GirisTarih" class="col-md-4 col-form-label"></label>
                <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" asp-for="@Model.OgrenciDto.GirisTarih">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <label asp-for="@Model.OgrenciDto.CikisTarih" class="col-md-4 col-form-label"></label>
                <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" asp-for="@Model.OgrenciDto.CikisTarih">
            </div>


            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <label asp-for="@Model.OgrenciDto.Gsm" class="col-md-4 col-form-label"></label>
                <input type="text" class="form-control" data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask="" inputmode="tel" asp-for="@Model.OgrenciDto.Gsm" placeholder="telefon numarasi">
            </div>
          


 
            <button type="submit" class="btn btn-info">Kaydet</button>
            <!-- /input-group -->
        </div>
            <!-- /.card-body -->
        </div>

    </form>