@model SinifModel




<form method="post" asp-controller="Sinif" asp-action="Create">

    @Html.ValidationSummary(true)

    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">SinifKayit</h3>
        </div>

        @Html.ValidationSummary()
        <div class="card-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                <label asp-for="@Model.SinifAdi" class="col-md-4 col-form-label"></label>
                <input type="text" class="form-control" placeholder="Adi" asp-for="@Model.SinifAdi">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                <label asp-for="@Model.Kapasite" class="col-md-4 col-form-label"></label>
                <input type="text" class="form-control" placeholder="Soyadi" asp-for="@Model.Kapasite">
            </div>



            <div class="form-group row ">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>

                <div class="col-md-6">
                    <a class="btn btn-secondary" asp-action="Index" asp-controller="Sinif">Listeye Geri Dön</a>
                </div>
            </div>


        </div>
    </div>

</form>